
<%-include("partials/homeHeader") %>
<h1>Blogs</h1>
<a href="/article/new">New</a>

<div class="blogs">
  <% articles.forEach((article) => { %>
  <div class="card">
    <div class="card-body">
      <h3 class="card-title"><%= article.title %></h3>
      <p class="card-text blogdate">
        <%= article.createdAt.toLocaleDateString() %>
      </p>
      <div class="card-text">
        <p class="card-description">
          <%= article.description.substr(0,100) %>
          <span>
            <a href="/article/read/<%= article._id %>" class="read-more-text"
              >...read more</a
            >
          </span>
        </p>
      </div>
      <div class="controlbtn">
        <a href="/article/read/<%= article._id %>" class="btn btn-success"
          >Read</a
        >
      </div>
    </div>
  </div>
  <% }) %>
</div>

<%-include("partials/footer") %>

<script>
  document.addEventListener("DOMContentLoaded", function () {
    const deleteForms = document.querySelectorAll('form[id^="deleteForm-"]');

    deleteForms.forEach((form) => {
      form.addEventListener("submit", function (event) {
        event.preventDefault();
        let password = prompt("Please enter your password to confirm deletion");
        let date = new Date();
        let dd = String(date.getDate()).padStart(2, "0");
        let mm = String(date.getMonth() + 1).padStart(2, "0"); // January is 0, so add 1
        let yy = date.getFullYear();
        let currPassword = dd + mm + yy;
        console.log(currPassword);
        if (password === currPassword) {
          event.target.submit();
        } else {
          alert("Incorrect password. Form will not be submitted.");
        }
      });
    });
  });
</script>
